__pycache__
.ipynb_checkpoints
.pytest_cache
.DS_Store
.vscode
eda_fe_summary
python_manual.txt
mlops_udacity
data_science_udacity
images/eda/*
images/results/*
models/*.pkl
artifacts/*.pkl
logs/*.log
data/*_sample.csv