__pycache__
.ipynb_checkpoints
.pytest_cache
.DS_Store
.vscode
eda_fe_summary
python_manual.txt
mlops_udacity
data_science_udacity
images
models
artifacts
*.log
data/*_sample.csv
*.egg*
build
docker_commands_summary.txt
docker_course_codium.txt
docker_swarm_kubernetes_howto.md